* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--Eggshell);
}

.content {
    margin: 50px auto;
    width: 100%;
    max-width: 700px;
    height: 100%;
    background-color: var(--White);
    border-radius: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.main-img {
    margin-top: 25px;
    border-radius: 8px;
    object-fit: cover;
}

.main-title {
    font-family: "Young Serif";
    font-weight: 400;
    font-size: 40px;
    margin: 20px 0;
    color: var(--Dark-Charcoal);
}

.main-description {
    font-family: "Outfit";
    font-size: 16px;
    margin: 0 0 25px 0;
    color: var(--Wenge-Brown);
}

.nutrition-description {
    font-family: "Outfit";
    font-size: 16px;
    margin: 0;
    color: var(--Wenge-Brown);
}

.preparation-time {
    margin: 0 20px;
    background-color: var(--Rose-White);
    border-radius: 8px;
    color: var(--Wenge-Brown);
}

.preparation-time-title {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: var(--Dark-Raspberry);
}

.preparation-time-ul {
    margin-bottom: 0;
    padding: 0 0 0 25px;
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
}

.preparation-time-li {
    padding: 0 0 10px 20px;
}

.preparation-time-li::marker {
    color: var(--Dark-Raspberry);
}

.ingredients-title,
.instructions-title,
.nutrition-title {
    margin: 0 0 25px 0;
    font-family: "Young Serif";
    font-weight: 400;
    font-size: 30px;
    color: var(--Nutmeg);
}

.ingredients-ul,
.instructions-ol {
    padding: 0;
    margin: 0 0 0 25px;
}

.ingredients-li,
.instructions-li {
    padding: 0 0 10px 20px;
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
    color: var(--Wenge-Brown);
}

.ingredients-li::marker,
.instructions-li::marker {
    color: var(--Nutmeg);
    font-weight: bold;
}

.divider {
    border: none;
    height: 1px;
    margin: 0 32.5px;
    max-width: 635px;
    background-color: var(--Wenge-Brown);
}

@media (max-width: 480px) {
    .content {
        margin: 0 auto;
        border-radius: 0;
    }

    .container {
        margin-top: 0;
    }

}

.stroke-1 {
    margin: 0px 85px 0 75px;
    display: flex;
    justify-content: first baseline;
    column-gap: 30%;
}

.el-1,
.el-2 {
    align-content: center;
    width: 100px;
    height: 50px;
}

.el-1 {
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
    color: var(--Wenge-Brown);
}

.el-2 {
    font-family: "Outfit";
    font-size: 16px;
    font-weight: bold;
    color: var(--Nutmeg);
}

.end {
    padding-bottom: 25px;
}